In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from utils import config_paths, explore

In [76]:
pd.set_option('display.max_columns', None)

In [77]:
bronze_dir = config_paths["bronze_dir"]

In [78]:
df = pd.read_csv(rf"{bronze_dir}/historical_data.csv")

#### Exploratory Data Analysis

In [79]:
df

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,2015-02-17 00:19:41,2015-02-17 01:24:48,2956,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,251,331.0
197424,1.0,2015-02-13 00:01:59,2015-02-13 00:58:22,2956,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,251,915.0
197425,1.0,2015-01-24 04:46:08,2015-01-24 05:36:16,2956,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,251,795.0
197426,1.0,2015-02-01 18:18:15,2015-02-01 19:23:22,3630,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,446,384.0
197427,1.0,2015-02-08 19:24:33,2015-02-08 20:01:41,3630,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,446,134.0

In [80]:
explore(df)

--- Exploratory Data Analysis ---
---------------------------------
Head of DataFrame:
    market_id           created_at actual_delivery_time  store_id  \
0        1.0  2015-02-06 22:24:17  2015-02-06 23:27:16      1845
1        2.0  2015-02-10 21:49:25  2015-02-10 22:56:29      5477
2        3.0  2015-01-22 20:39:28  2015-01-22 21:09:09      5477
3        3.0  2015-02-03 21:21:45  2015-02-03 22:13:00      5477
4        3.0  2015-02-15 02:40:36  2015-02-15 03:20:26      5477

  store_primary_category  order_protocol  total_items  subtotal  \
0               american             1.0            4      3441
1                mexican             2.0            1      1900
2                    NaN             1.0            1      1900
3                    NaN             1.0            6      6900
4                    NaN             1.0            3      3900

   num_distinct_items  min_item_price  max_item_price  total_onshift_dashers  \
0                   4             557            1239                   33.0
1                   1            1400            1400                    1.0
2                   1            1900            1900                    1.0
3                   5             600            1800                    1.0
4                   3            1100            1600                    6.0

   total_busy_dashers  total_outstanding_orders  \
0                14.0                      21.0
1                 2.0                       2.0
2                 0.0                       0.0
3                 1.0                       2.0
4                 6.0                       9.0

   estimated_order_place_duration  \
0                             446
1                             446
2                             446
3                             446
4                             446

   estimated_store_to_consumer_driving_duration
0                                         861.0
1                                         690.0
2                                         690.0
3                                         289.0
4                                         650.0
---------------------------------
Shape of DataFrame:
 (197428, 16)
---------------------------------
Columns in DataFrame:
 Index(['market_id', 'created_at', 'actual_delivery_time', 'store_id',
       'store_primary_category', 'order_protocol', 'total_items', 'subtotal',
       'num_distinct_items', 'min_item_price', 'max_item_price',
       'total_onshift_dashers', 'total_busy_dashers',
       'total_outstanding_orders', 'estimated_order_place_duration',
       'estimated_store_to_consumer_driving_duration'],
      dtype='object')
---------------------------------
Data types of columns:
 market_id                                       float64
created_at                                       object
actual_delivery_time                             object
store_id                                          int64
store_primary_category                           object
order_protocol                                  float64
total_items                                       int64
subtotal                                          int64
num_distinct_items                                int64
min_item_price                                    int64
max_item_price                                    int64
total_onshift_dashers                           float64
total_busy_dashers                              float64
total_outstanding_orders                        float64
estimated_order_place_duration                    int64
estimated_store_to_consumer_driving_duration    float64
dtype: object
---------------------------------
Number of null values in each column:
 market_id                                         987
created_at                                          0
actual_delivery_time                                7
store_id                                            0
store_primary_category                           4760
order_protocol                                    995
total_items                                         0
subtotal                                            0
num_distinct_items                                  0
min_item_price                                      0
max_item_price                                      0
total_onshift_dashers                           16262
total_busy_dashers                              16262
total_outstanding_orders                        16262
estimated_order_place_duration                      0
estimated_store_to_consumer_driving_duration      526
dtype: int64
---------------------------------
Number of unique values in each column:
 market_id                                            6
created_at                                      180985
actual_delivery_time                            178110
store_id                                          6743
store_primary_category                              74
order_protocol                                       7
total_items                                         57
subtotal                                          8368
num_distinct_items                                  20
min_item_price                                    2312
max_item_price                                    2652
total_onshift_dashers                              172
total_busy_dashers                                 159
total_outstanding_orders                           281
estimated_order_place_duration                      98
estimated_store_to_consumer_driving_duration      1336
dtype: int64
---------------------------------
Summary statistics of DataFrame:
            market_id       store_id  order_protocol    total_items  \
count  196441.000000  197428.000000   196433.000000  197428.000000
mean        2.978706    3530.510272        2.882352       3.196391
std         1.524867    2053.496711        1.503771       2.666546
min         1.000000       1.000000        1.000000       1.000000
25%         2.000000    1686.000000        1.000000       2.000000
50%         3.000000    3592.000000        3.000000       3.000000
75%         4.000000    5299.000000        4.000000       4.000000
max         6.000000    6987.000000        7.000000     411.000000

            subtotal  num_distinct_items  min_item_price  max_item_price  \
count  197428.000000       197428.000000   197428.000000   197428.000000
mean     2682.331402            2.670791      686.218470     1159.588630
std      1823.093688            1.630255      522.038648      558.411377
min         0.000000            1.000000      -86.000000        0.000000
25%      1400.000000            1.000000      299.000000      800.000000
50%      2200.000000            2.000000      595.000000     1095.000000
75%      3395.000000            3.000000      949.000000     1395.000000
max     27100.000000           20.000000    14700.000000    14700.000000

       total_onshift_dashers  total_busy_dashers  total_outstanding_orders  \
count          181166.000000       181166.000000             181166.000000
mean               44.808093           41.739747                 58.050065
std                34.526783           32.145733                 52.661830
min                -4.000000           -5.000000                 -6.000000
25%                17.000000           15.000000                 17.000000
50%                37.000000           34.000000                 41.000000
75%                65.000000           62.000000                 85.000000
max               171.000000          154.000000                285.000000

       estimated_order_place_duration  \
count                   197428.000000
mean                       308.560179
std                         90.139653
min                          0.000000
25%                        251.000000
50%                        251.000000
75%                        446.000000
max                       2715.000000

       estimated_store_to_consumer_driving_duration
count                                 196902.000000
mean                                     545.358935
std                                      219.352902
min                                        0.000000
25%                                      382.000000
50%                                      544.000000
75%                                      702.000000
max                                     2088.000000
---------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  object
 2   actual_delivery_time                          197421 non-null  object
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 24.1+ MB
Summary info of DataFrame:
 None

In [81]:
# Convert 'created_at' to datetime format
df["created_at"] = pd.to_datetime(df["created_at"])
df["actual_delivery_time"] = pd.to_datetime(df["actual_delivery_time"])

# Generate actual deliver time (in seconds) for each order
df["actual_total_delivery_duration"] = (df["actual_delivery_time"] - df["created_at"]).dt.total_seconds()
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,actual_total_delivery_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0

#### Feature derivations

In [82]:
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,actual_total_delivery_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0

In [83]:
# Extract time-based features
df["order_hour"] = df["created_at"].dt.hour
df["order_dayofweek"] = df["created_at"].dt.dayofweek  # Monday=0, Sunday=6
df["order_month"] = df["created_at"].dt.month

In [84]:
# Categorize time of day
df["time_of_day"] = pd.cut(
    df["order_hour"], 
    bins=[0, 6, 12, 18, 24], 
    labels=["Late Night", "Morning", "Afternoon", "Evening"],
    right=False
)

# Peak hour indicator (assumed peak hours: 11AM-2PM and 6PM-9PM)
df["is_peak_hour"] = df["order_hour"].isin([11, 12, 13, 18, 19, 20]).astype(int)

# Travel time features
df["estimated_non_prep_duration"] = df["estimated_order_place_duration"] + df["estimated_store_to_consumer_driving_duration"]

# Dasher workload features
df["store_busy_factor"] = df["total_busy_dashers"] / df["total_onshift_dashers"]
df["orders_per_dasher"] = df["total_outstanding_orders"] / df["total_onshift_dashers"]

# Order complexity features
df["avg_item_price"] = df["subtotal"] / df["total_items"]
df["price_spread"] = df["max_item_price"] - df["min_item_price"]
df["unique_items_ratio"] = df["num_distinct_items"] / df["total_items"]
df["is_complex_order"] = ((df["unique_items_ratio"] > 0.5) & (df["total_items"] > 5)).astype(int)

# Market and store historical trends (proxy for past trends)
df["market_median_delivery_time"] = df.groupby("market_id")["actual_total_delivery_duration"].transform("median")
df["store_median_delivery_time"] = df.groupby("store_id")["actual_total_delivery_duration"].transform("median")

In [85]:
# Impute missing values for store_primary_category using mode for given store_id
store_category_modes = df.groupby("store_id")["store_primary_category"].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
df["non_nan_store_primary_category"] = df["store_primary_category"].fillna(df["store_id"].map(store_category_modes))

In [86]:
# impute missing values for market_id using mode for given store_id
market_modes = df.groupby("store_id")["market_id"].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
df["non_nan_market_id"] = df["market_id"].fillna(df["store_id"].map(market_modes))

In [87]:
df.head(10)

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,actual_total_delivery_duration,order_hour,order_dayofweek,order_month,time_of_day,is_peak_hour,estimated_non_prep_duration,store_busy_factor,orders_per_dasher,avg_item_price,price_spread,unique_items_ratio,is_complex_order,market_median_delivery_time,store_median_delivery_time,non_nan_store_primary_category,non_nan_market_id
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0,22,4,2,Evening,0,1307.0,0.424242,0.636364,860.250000,682,1.000000,0,2814.0,3779.0,american,1.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0,21,1,2,Evening,0,1136.0,2.000000,2.000000,1900.000000,0,1.000000,0,2601.0,2390.0,mexican,2.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0,20,3,1,Evening,1,1136.0,0.000000,0.000000,1900.000000,0,1.000000,0,2646.0,2390.0,indian,3.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075.0,21,1,2,Evening,0,735.0,1.000000,2.000000,1150.000000,1200,0.833333,1,2646.0,2390.0,indian,3.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0,2,6,2,Late Night,0,1096.0,1.000000,1.500000,1300.000000,500,1.000000,0,2646.0,2390.0,indian,3.0
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0,2300.0,20,2,1,Evening,1,784.0,1.000000,1.000000,1666.666667,400,1.000000,0,2646.0,2390.0,indian,3.0
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,5477,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0,446,638.0,1584.0,2,5,1,Late Night,0,1084.0,0.900000,0.900000,1950.000000,1500,1.000000,0,2646.0,2390.0,indian,3.0
7,3.0,2015-02-12 03:03:35,2015-02-12 03:36:20,5477,NaN,1.0,4,4850,4,750,1800,7.0,8.0,7.0,446,626.0,1965.0,3,3,2,Late Night,0,1072.0,1.142857,1.000000,1212.500000,1050,1.000000,0,2646.0,2390.0,indian,3.0
8,2.0,2015-02-16 00:11:35,2015-02-16 00:38:01,5477,indian,3.0,4,4771,3,820,1604,8.0,6.0,18.0,446,289.0,1586.0,0,0,2,Late Night,0,735.0,0.750000,2.250000,1192.750000,784,0.750000,0,2601.0,2390.0,indian,2.0
9,3.0,2015-02-18 01:15:45,2015-02-18 02:08:57,5477,NaN,1.0,2,2100,2,700,1200,2.0,2.0,2.0,446,715.0,3192.0,1,2,2,Late Night,0,1161.0,1.000000,1.000000,1050.000000,500,1.000000,0,2646.0,2390.0,indian,3.0

#### One-hot encode categorical features - market_id, non_nan_store_primary_category, order_protocol

In [88]:
# one-hot encode categorical features - non_nan_store_primary_category, non_nan_market_id, order_protocol, time_of_day
df = pd.get_dummies(df, columns=["non_nan_store_primary_category", "non_nan_market_id", "order_protocol", "time_of_day"], drop_first=True, dtype=int, prefix=["store_category", "market_id", "order_protocol", "time_of_day"])

In [89]:
df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,actual_total_delivery_duration,order_hour,order_dayofweek,order_month,is_peak_hour,estimated_non_prep_duration,store_busy_factor,orders_per_dasher,avg_item_price,price_spread,unique_items_ratio,is_complex_order,market_median_delivery_time,store_median_delivery_time,store_category_african,store_category_alcohol,store_category_alcohol-plus-food,store_category_american,store_category_argentine,store_category_asian,store_category_barbecue,store_category_belgian,store_category_brazilian,store_category_breakfast,store_category_british,store_category_bubble-tea,store_category_burger,store_category_burmese,store_category_cafe,store_category_cajun,store_category_caribbean,store_category_catering,store_category_cheese,store_category_chinese,store_category_chocolate,store_category_comfort-food,store_category_convenience-store,store_category_dessert,store_category_dim-sum,store_category_ethiopian,store_category_european,store_category_fast,store_category_filipino,store_category_french,store_category_gastropub,store_category_german,store_category_gluten-free,store_category_greek,store_category_hawaiian,store_category_indian,store_category_indonesian,store_category_irish,store_category_italian,store_category_japanese,store_category_korean,store_category_kosher,store_category_latin-american,store_category_lebanese,store_category_malaysian,store_category_mediterranean,store_category_mexican,store_category_middle-eastern,store_category_moroccan,store_category_nepalese,store_category_other,store_category_pakistani,store_category_pasta,store_category_persian,store_category_peruvian,store_category_pizza,store_category_russian,store_category_salad,store_category_sandwich,store_category_seafood,store_category_singaporean,store_category_smoothie,store_category_soup,store_category_southern,store_category_spanish,store_category_steak,store_category_sushi,store_category_tapas,store_category_thai,store_category_turkish,store_category_vegan,store_category_vegetarian,store_category_vietnamese,market_id_2.0,market_id_3.0,market_id_4.0,market_id_5.0,market_id_6.0,order_protocol_2.0,order_protocol_3.0,order_protocol_4.0,order_protocol_5.0,order_protocol_6.0,order_protocol_7.0,time_of_day_Morning,time_of_day_Afternoon,time_of_day_Evening
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0,22,4,2,0,1307.0,0.424242,0.636364,860.25,682,1.000000,0,2814.0,3779.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0,21,1,2,0,1136.0,2.000000,2.000000,1900.00,0,1.000000,0,2601.0,2390.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0,20,3,1,1,1136.0,0.000000,0.000000,1900.00,0,1.000000,0,2646.0,2390.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075.0,21,1,2,0,735.0,1.000000,2.000000,1150.00,1200,0.833333,1,2646.0,2390.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0,2,6,2,0,1096.0,1.000000,1.500000,1300.00,500,1.000000,0,2646.0,2390.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [90]:
# extract final training dataframe by dropping redundant features
train_df = df.drop(
    columns=[
        "actual_delivery_time", 
        "created_at", 
        "store_id", 
        "store_primary_category",
        "market_id",
        ]
)

# convert all features to float type for compatibility with ML models
train_df = train_df.astype(float)

In [91]:
for i in train_df.columns:
    if train_df[i].dtype != "float64":
        raise ValueError(f"Column {i} is not of type float64")