In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from utils import config_paths, explore

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
bronze_dir = config_paths["bronze_dir"]

In [5]:
df = pd.read_csv(rf"{bronze_dir}/historical_data.csv")

#### Exploratory Data Analysis

In [6]:
df

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197423,1.0,2015-02-17 00:19:41,2015-02-17 01:24:48,2956,fast,4.0,3,1389,3,345,649,17.0,17.0,23.0,251,331.0
197424,1.0,2015-02-13 00:01:59,2015-02-13 00:58:22,2956,fast,4.0,6,3010,4,405,825,12.0,11.0,14.0,251,915.0
197425,1.0,2015-01-24 04:46:08,2015-01-24 05:36:16,2956,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,251,795.0
197426,1.0,2015-02-01 18:18:15,2015-02-01 19:23:22,3630,sandwich,1.0,1,1175,1,535,535,7.0,7.0,12.0,446,384.0
197427,1.0,2015-02-08 19:24:33,2015-02-08 20:01:41,3630,sandwich,1.0,4,2605,4,425,750,20.0,20.0,23.0,446,134.0

In [7]:
explore(df)

--- Exploratory Data Analysis ---
---------------------------------
Head of DataFrame:
    market_id           created_at actual_delivery_time  store_id  \
0        1.0  2015-02-06 22:24:17  2015-02-06 23:27:16      1845
1        2.0  2015-02-10 21:49:25  2015-02-10 22:56:29      5477
2        3.0  2015-01-22 20:39:28  2015-01-22 21:09:09      5477
3        3.0  2015-02-03 21:21:45  2015-02-03 22:13:00      5477
4        3.0  2015-02-15 02:40:36  2015-02-15 03:20:26      5477

  store_primary_category  order_protocol  total_items  subtotal  \
0               american             1.0            4      3441
1                mexican             2.0            1      1900
2                    NaN             1.0            1      1900
3                    NaN             1.0            6      6900
4                    NaN             1.0            3      3900

   num_distinct_items  min_item_price  max_item_price  total_onshift_dashers  \
0                   4             557            1239                   33.0
1                   1            1400            1400                    1.0
2                   1            1900            1900                    1.0
3                   5             600            1800                    1.0
4                   3            1100            1600                    6.0

   total_busy_dashers  total_outstanding_orders  \
0                14.0                      21.0
1                 2.0                       2.0
2                 0.0                       0.0
3                 1.0                       2.0
4                 6.0                       9.0

   estimated_order_place_duration  \
0                             446
1                             446
2                             446
3                             446
4                             446

   estimated_store_to_consumer_driving_duration
0                                         861.0
1                                         690.0
2                                         690.0
3                                         289.0
4                                         650.0
---------------------------------
Shape of DataFrame:
 (197428, 16)
---------------------------------
Columns in DataFrame:
 Index(['market_id', 'created_at', 'actual_delivery_time', 'store_id',
       'store_primary_category', 'order_protocol', 'total_items', 'subtotal',
       'num_distinct_items', 'min_item_price', 'max_item_price',
       'total_onshift_dashers', 'total_busy_dashers',
       'total_outstanding_orders', 'estimated_order_place_duration',
       'estimated_store_to_consumer_driving_duration'],
      dtype='object')
---------------------------------
Data types of columns:
 market_id                                       float64
created_at                                       object
actual_delivery_time                             object
store_id                                          int64
store_primary_category                           object
order_protocol                                  float64
total_items                                       int64
subtotal                                          int64
num_distinct_items                                int64
min_item_price                                    int64
max_item_price                                    int64
total_onshift_dashers                           float64
total_busy_dashers                              float64
total_outstanding_orders                        float64
estimated_order_place_duration                    int64
estimated_store_to_consumer_driving_duration    float64
dtype: object
---------------------------------
Number of null values in each column:
 market_id                                         987
created_at                                          0
actual_delivery_time                                7
store_id                                            0
store_primary_category                           4760
order_protocol                                    995
total_items                                         0
subtotal                                            0
num_distinct_items                                  0
min_item_price                                      0
max_item_price                                      0
total_onshift_dashers                           16262
total_busy_dashers                              16262
total_outstanding_orders                        16262
estimated_order_place_duration                      0
estimated_store_to_consumer_driving_duration      526
dtype: int64
---------------------------------
Number of unique values in each column:
 market_id                                            6
created_at                                      180985
actual_delivery_time                            178110
store_id                                          6743
store_primary_category                              74
order_protocol                                       7
total_items                                         57
subtotal                                          8368
num_distinct_items                                  20
min_item_price                                    2312
max_item_price                                    2652
total_onshift_dashers                              172
total_busy_dashers                                 159
total_outstanding_orders                           281
estimated_order_place_duration                      98
estimated_store_to_consumer_driving_duration      1336
dtype: int64
---------------------------------
Summary statistics of DataFrame:
            market_id       store_id  order_protocol    total_items  \
count  196441.000000  197428.000000   196433.000000  197428.000000
mean        2.978706    3530.510272        2.882352       3.196391
std         1.524867    2053.496711        1.503771       2.666546
min         1.000000       1.000000        1.000000       1.000000
25%         2.000000    1686.000000        1.000000       2.000000
50%         3.000000    3592.000000        3.000000       3.000000
75%         4.000000    5299.000000        4.000000       4.000000
max         6.000000    6987.000000        7.000000     411.000000

            subtotal  num_distinct_items  min_item_price  max_item_price  \
count  197428.000000       197428.000000   197428.000000   197428.000000
mean     2682.331402            2.670791      686.218470     1159.588630
std      1823.093688            1.630255      522.038648      558.411377
min         0.000000            1.000000      -86.000000        0.000000
25%      1400.000000            1.000000      299.000000      800.000000
50%      2200.000000            2.000000      595.000000     1095.000000
75%      3395.000000            3.000000      949.000000     1395.000000
max     27100.000000           20.000000    14700.000000    14700.000000

       total_onshift_dashers  total_busy_dashers  total_outstanding_orders  \
count          181166.000000       181166.000000             181166.000000
mean               44.808093           41.739747                 58.050065
std                34.526783           32.145733                 52.661830
min                -4.000000           -5.000000                 -6.000000
25%                17.000000           15.000000                 17.000000
50%                37.000000           34.000000                 41.000000
75%                65.000000           62.000000                 85.000000
max               171.000000          154.000000                285.000000

       estimated_order_place_duration  \
count                   197428.000000
mean                       308.560179
std                         90.139653
min                          0.000000
25%                        251.000000
50%                        251.000000
75%                        446.000000
max                       2715.000000

       estimated_store_to_consumer_driving_duration
count                                 196902.000000
mean                                     545.358935
std                                      219.352902
min                                        0.000000
25%                                      382.000000
50%                                      544.000000
75%                                      702.000000
max                                     2088.000000
---------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  object
 2   actual_delivery_time                          197421 non-null  object
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 24.1+ MB
Summary info of DataFrame:
 None